## Milestone Project / The Data Incubator Bootcamp

### Analysis of the Value of Energy Cost Savings Program Savings for Businesses in New York City

Import the python packages:

In [1]:
import pandas as pd
import numpy as np
import datetime as datetime
import matplotlib as mp
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from datetime import date

Read data from a CSV file to create a DataFrame:

In [2]:
df = pd.read_csv("Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv")

General information about the DataFrame:

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 26 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Company Name                               450 non-null    object
 1   company contact                            450 non-null    object
 2   company email                              433 non-null    object
 3   company phone                              450 non-null    object
 4   Address                                    450 non-null    object
 5   City                                       450 non-null    object
 6   State                                      450 non-null    object
 7   Postcode                                   450 non-null    int64
 8   Industry                                   450 non-null    object
 9   Industry descr                             434 non-null    object
 10  Company Type                               450 non-null    object
 11  Current fulltime                           446 non-null    float64
 12  Job created                                11 non-null     float64
 13  Job retain                                 14 non-null     float64
 14  Effective Date                             450 non-null    object
 15  Total Savings                              450 non-null    float64
 16  Savings from beginning receiving benefits  450 non-null    float64
 17  Borough                                    450 non-null    object
 18  Latitude                                   409 non-null    float64
 19  Longitude                                  409 non-null    float64
 20  Community Board                            409 non-null    float64
 21  Council District                           409 non-null    float64
 22  Census Tract                               409 non-null    float64
 23  BIN                                        401 non-null    float64
 24  BBL                                        401 non-null    float64
 25  NTA                                        409 non-null    object
dtypes: float64(12), int64(1), object(13)
memory usage: 91.5+ KB

How many different companies are represented in the data set?

In [4]:
print("Number of unique companies:", df['Company Name'].nunique())

Number of unique companies: 439

What is the total number of jobs created for businesses in Queens?

In [12]:
job_created = df.dropna(subset=["Job created"])
queens = job_created.groupby("Borough")
print("Jobs created in Queens:", queens.get_group("Queens")["Job created"].sum())

Jobs created in Queens: 102.0

How many different unique email domains names are there in the data set?

In [16]:
email = df[["company email"]].dropna()
email["domain"] = email["company email"].str.split('@').str[1]
print("Number of unique email domains:", email["domain"].nunique())

Number of unique email domains: 356

Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [42]:
company = df.groupby(by=["NTA", "Company Name"])
savings_sum = company.agg({'Job created':lambda x: x.sum(skipna=False), 'Total Savings':'sum'})
nta_above_5= savings_sum.groupby(level=0).filter(lambda x: len(x) >= 5)

In [51]:
avg_savings = nta_above_5[["Total Savings"]].groupby("NTA").mean()
print(avg_savings)

                                                  Total Savings
NTA
Battery Park City-Lower Manhattan                 469890.796667
Bushwick South                                     26140.455000
Carroll Gardens-Columbia Street-Red Hook           24337.390000
College Point                                      17159.372857
Crown Heights North                                 4036.298889
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill   59950.340000
East New York                                      62271.120000
East Williamsburg                                  13990.626364
Greenpoint                                          9753.649286
Hunters Point-Sunnyside-West Maspeth               24928.540556
Hunts Point                                        39246.016154
Manhattanville                                      2760.888889
Maspeth                                             6658.283333
Mott Haven-Port Morris                             17843.937857
Queensbridge-Ravenswood-Long Island City           65952.822000
SoHo-TriBeCa-Civic Center-Little Italy             37214.024000
Springfield Gardens South-Brookville               17757.662000
Steinway                                           11227.155714
Sunset Park West                                   14316.976875
park-cemetery-etc-Brooklyn                         14327.419333

In [44]:
total_jobs = nta_above_5[["Job created"]].groupby("NTA").sum()
print(total_jobs)

                                                  Job created
NTA
Battery Park City-Lower Manhattan                         0.0
Bushwick South                                           10.0
Carroll Gardens-Columbia Street-Red Hook                  0.0
College Point                                             2.0
Crown Heights North                                       0.0
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill          0.0
East New York                                            15.0
East Williamsburg                                         0.0
Greenpoint                                                0.0
Hunters Point-Sunnyside-West Maspeth                      0.0
Hunts Point                                              12.0
Manhattanville                                            0.0
Maspeth                                                  10.0
Mott Haven-Port Morris                                   10.0
Queensbridge-Ravenswood-Long Island City                  0.0
SoHo-TriBeCa-Civic Center-Little Italy                    0.0
Springfield Gardens South-Brookville                      0.0
Steinway                                                 20.0
Sunset Park West                                          0.0
park-cemetery-etc-Brooklyn                                0.0

In [ ]:
avg_savings, total_jobs.to_csv